**/*.svg
**/*.yml

lib/
es/
dist/
_site/
coverage/
build/
public/


CNAME
LICENSE

yarn.lock
yarn-error.log
package.json
package-lock.json
netlify.toml

*.sh
*.snap

.gitignore
.npmignore
.prettierignore

.editorconfig
.eslintignore

.DS_Store
